 <%= div_for comment do %>
  	<p>
     <strong>Posted: <%= time_ago_in_words(comment.created_at) %></strong><br />
	 <%= h(comment.body)%>
	 <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
 <% end %>