<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Post</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @post.comments.each do |comment| %>
  <tr>
        <td><%= comment.body %></td>
        <td><%= comment.post.id %></td>
		<td>
		<%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
        <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
	    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<br>
