<h1 style="display:inline;">Listing posts</h1>
<%= link_to 'New Post', new_post_path %>
<div style="margin-top:10px;">
<table>
  <thead>
    <tr>
	  <th colspan="3"></th>
      <th>Title</th>
      <th>Body</th>
	  <th>Posted</th>
	  <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
		<td><%= post.created_at %></td>
		<td>
	        <% post.comments.each do |comment| %>
	          - <%= comment.body %><br />
	        <% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

