// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table,th,td
{
border:1px solid black;
border-collapse:collapse
}

table
{
width: 1024px;
border-spacing:5px;
}